<div class="content_wrap">
    <!--begin navigation-->
    <nav class="navigation ">
        <div class="navigation__top navigation_top">
            <a class="navigation_top__logo" href="/">
                <img src="img/logo_nav.svg" alt="Logo">
                <img src="img/logo_nav_full.svg" alt="Logo">
            </a>
            <ul>
                <li>
                    <a href="/">
                        <img src="img/icon_manage.svg" alt="Manage">
                        <span class="hidden_span">Manage product</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_account.svg" alt="Account">
                        <span class="hidden_span">Account</span>
                    </a>
                    <ul>
                        <li><a href="#/">Change password</a></li>
                        <li><a href="#/">Email history</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_billing.svg" alt="Billing">
                        <span class="hidden_span">Billing</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_support.svg" alt="Support">
                        <span class="hidden_span">Support</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_affiliates.svg" alt="Affiliates">
                        <span class="hidden_span">Affiliates</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navigation__bottom hidden_nav_bottom">
            <ul>
                <li>
                    <a href="#/">
                        <img src="img/icon_add.png" alt="Add">
                    </a>
                </li>
                <li>
                    <a href="#/">
                        <img src="img/icon_download.png" alt="Download">
                    </a>
                </li>
                <li>
                    <a href="#/">
                        <img src="img/icon_supports.png" alt="Support">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end navigation-->
    <!--begin content-->
    <section class="content">
        <div class="content__top content_top">
            <div class="content_top__title">
                <h1 class="title">
                   Account
                </h1>
            </div>
            <div class="content_top__welcome">
                <a href="#/">Welcome to limevpn.com!</a>
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="account_title">
            <h3 class="title">My Details</h3>
        </div>
        <div class="account_form">
            <form>
                <label for="name">
                    <p>First name</p>
                    <input id="name" type="text">
                </label>
                <label for="surname">
                    <p>Last name</p>
                    <input id="surname" type="text">
                </label>
                <label for="company">
                    <p>Company name</p>
                    <input id="company" type="text">
                </label>
                <label for="email">
                    <p>Email Address</p>
                    <input id="email" type="email">
                </label>
                <label for="password">
                    <p>Password</p>
                    <input id="password" type="password">
                </label>
                <label for="payment">
                    <p>Payment Method</p>
                    <select id="payment">
                        <option value="">1</option>
                        <option value="">2</option>
                    </select>
                </label>
                <label for="billing">
                    <p>Default Billing Contact</p>
                    <input id="billing" type="text">
                </label>
                <label for="address_1">
                    <p>Address Line 1</p>
                    <input id="address_1" type="text">
                </label>
                <label for="address_2">
                    <p>Address Line 2</p>
                    <input id="address_2" type="text">
                </label>
                <label for="city">
                    <p>City</p>
                    <input id="city" type="text">
                </label>
                <label for="state">
                    <p>State/Region</p>
                    <input id="state" type="text">
                </label>
                <label for="zip">
                    <p>Zip Code</p>
                    <input id="zip" type="text">
                </label>
                <label for="country">
                    <p> Country</p>
                    <input id="country" type="text">
                </label>
                <label for="phone">
                    <p>Phone</p>
                    <input id="phone" type="tel">
                </label>
                <div class="account_buttons">
                    <input class="btn_white" value="Cancel">
                    <input class="btn_blue" value="Save Changes">
                </div>
            </form>
        </div>

    </section>
    <!--end content-->
</div>