<div class="content_wrap">
    <!--begin navigation-->
    <nav class="navigation ">
        <div class="navigation__top navigation_top">
            <a class="navigation_top__logo" href="/">
                <img src="img/logo_nav.svg" alt="Logo">
                <img src="img/logo_nav_full.svg" alt="Logo">
            </a>
            <ul>
                <li>
                    <a href="/">
                        <img src="img/icon_manage.svg" alt="Manage">
                        <span class="hidden_span">Manage product</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_account.svg" alt="Account">
                        <span class="hidden_span">Account</span>
                    </a>
                    <ul>
                        <li><a href="#/">Change password</a></li>
                        <li><a href="#/">Email history</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_billing.svg" alt="Billing">
                        <span class="hidden_span">Billing</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_support.svg" alt="Support">
                        <span class="hidden_span">Support</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="img/icon_affiliates.svg" alt="Affiliates">
                        <span class="hidden_span">Affiliates</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navigation__bottom hidden_nav_bottom">
            <ul>
                <li>
                    <a href="#/">
                        <img src="img/icon_add.png" alt="Add">
                    </a>
                </li>
                <li>
                    <a href="#/">
                        <img src="img/icon_download.png" alt="Download">
                    </a>
                </li>
                <li>
                    <a href="#/">
                        <img src="img/icon_supports.png" alt="Support">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end navigation-->
    <!--begin content-->
    <section class="content">
        <div class="content__top content_top">
            <div class="content_top__title">
                <h1 class="title">
                    Refer a Friend
                </h1>
            </div>
            <div class="content_top__welcome">
                <a href="#/">Welcome to limevpn.com!</a>
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="refer">
            <div class="refer__left refer_left">
                <div class="refer_left__free refer_free">
                    <div class="refer_free__icon">
                        <img src="img/icon_star.svg" alt="Star">
                    </div>
                    <div class="refer_free__text">
                        <h3 class="title">+1 LimeVPN free month</h3>
                        <p>When a friend buys a LimeVPN plan, you both get a free extra month.</p>
                    </div>
                </div>
                <div class="refer_left__form refer_form">
                    <div class="refer_form__title">
                        <h3 class="title">Activate your affiliate account</h3>
                    </div>
                    <div class="refer_form__info refer_form_info">
                        <div class="refer_form_info__icon">
                            <img src="img/icon_stars.svg" alt="Stars">
                        </div>
                        <div class="refer_form_info__text">
                            <p>When  a friend buyes limeVPN plan,you boath get<br> a <a href="#/">free extra month.</a></p>
                        </div>
                    </div>
                    <form>
                        <label for="name">
                            <p>Your name</p>
                            <input id="name" type="text">
                        </label>
                        <label for="email">
                            <p>Subscribe emails to:</p>
                            <a href="#/">Import from <img src="img/icon_gmail.svg" alt="Gmail"></a>
                            <input id="email" type="email">
                        </label>
                        <input type="submit" value="Send invites">
                    </form>
                </div>
            </div>
            <div class="refer__right refer_right">
                <div class="refer_right__link refer_link">
                    <div class="refer_link__text">
                        <h3 class="title">Use your referal link:</h3>
                        <a href="https://www.limevpn.com/billing/aff.php?aff=173">https://www.limevpn.com/billing/aff.php?aff=173</a>
                    </div>
                    <div class="refer_link__btn">
                        <a href="#/">Copy</a>
                    </div>
                </div>
                <div class="refer_right__socials refer_socials">
                    <a class="refer_socials__facebook" href="#/">
                        <i class="fab fa-facebook-f"></i>
                        Share
                    </a>
                    <a class="refer_socials__twitter" href="#/">
                        <i class="fab fa-twitter"></i>
                        Tweet
                    </a>
                </div>
                <div class="refer_right__list refer_list">
                    <h3 class="title">
                        12 months of free VPN details
                    </h3>
                    <ul>
                        <li>To qualify, referred friends cannot be current or previous paid
                        customers of LimeVPN.</li>
                        <li>Referred friends must use your referral invite link in order for
                        each of you to receive credit.</li>
                        <li>Friends must stay with LimeVPN past their 7-day money back guarantee.</li>
                    </ul>
                </div>
                <div class="refer_right__connect refer_connect">
                    <p>Connect to the lime community </p>
                    <div class="refer_connect__socials">
                        <a href="#/">
                            <img src="img/icon_refer_fb.svg" alt="Facebook">
                        </a>
                        <a href="#/">
                            <img src="img/icon_refer_tw.svg" alt="Twitter">
                        </a>
                        <a href="#/">
                            <img src="img/icon_refer_yt.svg" alt="Youtube">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end content-->
</div>